/*body {
	background: slategrey;
}*/

nav {
	margin-bottom: 25px;
}

.bools {
	/*margin-bottom: 15px*/
	/*border: 2px solid black;
	display: inline-block;
	border-width: 2px;
	border-bottom-style: inset;*/
}

.res-quest {
	margin-bottom: 45px;
}

.shelter-info {
	margin-bottom: 45px;
}

.income-info {
	margin-bottom: 40px;
}
