/*body {
	background: slategrey;
}*/

nav {
	margin-bottom: 25px;
}

.bools {
	/*margin-bottom: 15px*/
	/*border: 2px solid black;
	display: inline-block;
	border-width: 2px;
	border-bottom-style: inset;*/
}
