<form action="#">
	<div class="row">
		  <div class="input-field col s12 m6 l2">
		      <input id="first_name" type="text" class="validate">
		      <label class="active" for="first_name">First Name</label>
		  </div>
		<input type="date" class="col s4 m6">
	</div>
		<div class="row col s4 m6 l2">
		    <p>
		      <input type="checkbox" id="ssn" />
		      <label for="ssn">Has A Social Security Number?</label>
		    </p>
		    <p>
		      <input type="checkbox" id="resource" />
		      <label for="resource">Bank Account?</label>
		    </p>
		    <p class="push-s6">
		      <input type="checkbox" id="empl" />
		      <label for="empl">Has an Employer?</label>
		    </p>
		</div>
	<a class="btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">add</i></a>
</form>
