 <div class="row">
    <form class="col s12">
    	<div class="oneP row">
	        <div class="input-field col s6">
	          <input id="first_name" ng-model="firstName1" type="text" class="validate">
	          <label for="first_name">First Name</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="age" ng-model="age1" type="text" class="validate">
	          <label for="age">Age</label>
	        </div>
    	</div>
		<div class="row col s12">
			    <p>
			      <input type="checkbox" ng-model="hasResource1" id="resource1" />
			      <label for="resource1">Bank Account?</label>
			    </p>
			    <p class="push-s6">
			      <input type="checkbox" ng-model="hasEmployer1" id="empl1" />
			      <label for="empl1">Has an Employer?</label>
			    </p>
		</div>
		<div ng-show="hh > 1">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name2" ng-model="firstName2" type="text" class="validate">
		          <label for="first_name2">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age2" ng-model="age2" type="text" class="validate">
		          <label for="age2">Age</label>
		        </div>
		      </div>
				<div class="row col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource2" id="resource2" />
				      <label for="resource2">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer2" id="empl2" />
				      <label for="empl2">Has an Employer?</label>
				    </p>
				</div>
		</div>
		<div ng-show="hh > 2">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name3" ng-model="firstName3" type="text" class="validate">
		          <label for="first_name3">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age3" ng-model="age3" type="text" class="validate">
		          <label for="age3">Age</label>
		        </div>
		      </div>
				<div class="row col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource3" id="resource3" />
				      <label for="resource3">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer3" id="empl3" />
				      <label for="empl3">Has an Employer?</label>
				    </p>
				</div>
		</div>
		<div ng-show="hh > 3">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name4" ng-model="firstName4" type="text" class="validate">
		          <label for="first_name4">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age4" ng-model="age4" type="text" class="validate">
		          <label for="age4">Age</label>
		        </div>
		      </div>
				<div class="row bools col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource4" id="resource4" />
				      <label for="resource4">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer4" id="empl4" />
				      <label for="empl4">Has an Employer?</label>
				    </p>
				</div>
		</div>
		<div ng-show="hh >4">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name5" ng-model="firstName5" type="text" class="validate">
		          <label for="first_name5">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age5" ng-model="age5" type="text" class="validate">
		          <label for="age5">Age</label>
		        </div>
		      </div>
				<div class="row bools col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource5" id="resource5" />
				      <label for="resource5">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer5" id="empl5" />
				      <label for="empl5">Has an Employer?</label>
				    </p>
				</div>
		</div>
	</form>
	<form>
		<div ng-show="hh > 5">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name6" ng-model="firstName6" type="text" class="validate">
		          <label for="first_name6">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age6" ng-model="age6" type="text" class="validate">
		          <label for="age6">Age</label>
		        </div>
		      </div>
				<div class="row bools col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource6" id="resource6" />
				      <label for="resource6">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer6" id="empl6" />
				      <label for="empl6">Has an Employer?</label>
				    </p>
				</div>
		</div>
		<div ng-show="hh > 6">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name7" ng-model="firstName7" type="text" class="validate">
		          <label for="first_name7">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age7" ng-model="age7" type="text" class="validate">
		          <label for="age7">Age</label>
		        </div>
		      </div>
				<div class="row bools col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource7" id="resource7" />
				      <label for="resource7">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer7" id="empl7" />
				      <label for="empl7">Has an Employer?</label>
				    </p>
				</div>
		</div>
		<div ng-show="hh > 7">
			<div class="oneP row">
		        <div class="input-field col s6">
		          <input id="first_name8" ng-model="firstName8" type="text" class="validate">
		          <label for="first_name8">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="age8" ng-model="age8" type="text" class="validate">
		          <label for="age8">Age</label>
		        </div>
		      </div>
				<div class="row bools col s12">
				    <p>
				      <input type="checkbox" ng-model="hasResource8" id="resource8" />
				      <label for="resource8">Bank Account?</label>
				    </p>
				    <p class="push-s6">
				      <input type="checkbox" ng-model="hasEmployer8" id="empl8" />
				      <label for="empl8">Has an Employer?</label>
				    </p>
				</div>
			</div>
</form>
</div>
	<a class="btn-floating btn-medium waves-effect waves-light green" ng-click="addField()""><i class="material-icons">add</i></a> Add Person

    <div class="col s5 center">
    	<a class="waves-effect waves-light red btn" ng-click="restart()">Restart</a>
		<a class="waves-effect waves-light btn" ng-click="getDemo(people)">Continue</a>
	</div>
