 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="age" type="text" class="validate">
          <label for="age">Age</label>
        </div>
      </div>
		<div class="row col s4 m6 l2">
		    <p>
		      <input type="checkbox" id="ssn" />
		      <label for="ssn">Has A Social Security Number?</label>
		    </p>
		    <p>
		      <input type="checkbox" id="resource" />
		      <label for="resource">Bank Account?</label>
		    </p>
		    <p class="push-s6">
		      <input type="checkbox" id="empl" />
		      <label for="empl">Has an Employer?</label>
		    </p>
		</div>
</form>
</div>
	<a class="btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">add</i></a>
