  <div class="row">
	<h3>Person 1</h3>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="employer" type="text" class="validate">
          <label for="employer">Employer</label>
        </div>
      </div>
    </form>
    <form action="#">
    	<div class="input-field col s12">
    <select>
      <option value="weekly">Weekly</option>
      <option value="biweekly">Every 2 Weeks</option>
      <option value="twiceMonthly">Twice Per Month</option>
      <option value="monthly">Once Per Month</option>
    </select>
    <label>How Often Are You Paid?</label>
  </div>
	</form>
</div>
