  <!-- <div class="row"> -->
	<!-- employer field -->
    <form ng-show="hhInc > 0" class="col s12" ng-repeat="person in personArray">
	      <div class="row">
	      	<h4>{{person.firstName}}</h4>
	        <div class="input-field col s6">
	          <input id="employer" ng-model="person.employer" type="text" class="validate">
	          <label for="employer">Employer</label>
	        </div>
	      </div>

	    <!-- select options for pay frequency -->
	    	<div class="input-field col s12">
			    <select ng-model="person.payFrequency">
			      <option value="monthly">Once Per Month</option>
			      <option value="biweekly">Every 2 Weeks</option>
			      <option value="twiceMonthly">Twice Per Month</option>
			      <option value="weekly">Weekly</option>
			    </select>
			    <label>How Often Are You Paid?</label>
			  </div>

		    <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
	    </form>
	    <form class="col s12" ng-show="hhInc > 1">
	      <div class="row">
	      	<h4>{{person.firstName}}</h4>
	        <div class="input-field col s6">
	          <input id="employer" ng-model="person.employer" type="text" class="validate">
	          <label for="employer">Employer</label>
	        </div>
	      </div>

    <!-- select options for pay frequency -->
	    	<div class="input-field col s12">
			    <select ng-model="person.payFrequency">
			      <option value="monthly">Once Per Month</option>
			      <option value="biweekly">Every 2 Weeks</option>
			      <option value="twiceMonthly">Twice Per Month</option>
			      <option value="weekly">Weekly</option>
			    </select>
			    <label>How Often Are You Paid?</label>
			  </div>

	     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
	    </form>
	    <form class="col s12" ng-show="hhInc > 2">
	      <div class="row">
	      	<h4>{{person.firstName}}</h4>
		        <div class="input-field col s6">
		          <input id="employer" ng-model="person.employer" type="text" class="validate">
		          <label for="employer">Employer</label>
		        </div>
		      </div>

	    <!-- select options for pay frequency -->
		    	<div class="input-field col s12">
				    <select ng-model="person.payFrequency">
				      <option value="monthly">Once Per Month</option>
				      <option value="biweekly">Every 2 Weeks</option>
				      <option value="twiceMonthly">Twice Per Month</option>
				      <option value="weekly">Weekly</option>
				    </select>
				    <label>How Often Are You Paid?</label>
				  </div>

		     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
	    </form>
	    <form class="col s12" ng-show="hhInc > 3">
	      <div class="row">
	      	<h4>{{person.firstName}}</h4>
	        <div class="input-field col s6">
	          <input id="employer" ng-model="person.employer" type="text" class="validate">
	          <label for="employer">Employer</label>
	        </div>
	      </div>

	    <!-- select options for pay frequency -->
	    	<div class="input-field col s12">
			    <select ng-model="person.payFrequency">
			      <option value="monthly">Once Per Month</option>
			      <option value="biweekly">Every 2 Weeks</option>
			      <option value="twiceMonthly">Twice Per Month</option>
			      <option value="weekly">Weekly</option>
			    </select>
			    <label>How Often Are You Paid?</label>
			  </div>

	     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
	    </form>
	    <form class="col s12" ng-show="hhInc > 4">
	      <div class="row">
	      	<h4>{{person.firstName}}</h4>
	        <div class="input-field col s6">
	          <input id="employer" ng-model="person.employer" type="text" class="validate">
	          <label for="employer">Employer</label>
	        </div>
	      </div>

	    <!-- select options for pay frequency -->
	    	<div class="input-field col s12">
			    <select ng-model="person.payFrequency">
			      <option value="monthly">Once Per Month</option>
			      <option value="biweekly">Every 2 Weeks</option>
			      <option value="twiceMonthly">Twice Per Month</option>
			      <option value="weekly">Weekly</option>
			    </select>
			    <label>How Often Are You Paid?</label>
			  </div>

		     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
	    </form>
	    <form class="col s12" ng-show="hhInc > 5">
		      <div class="row">
		      	<h4>{{person.firstName}}</h4>
		        <div class="input-field col s6">
		          <input id="employer" ng-model="person.employer" type="text" class="validate">
		          <label for="employer">Employer</label>
		        </div>
		      </div>

    <!-- select options for pay frequency -->
		    	<div class="input-field col s12">
				    <select ng-model="person.payFrequency">
				      <option value="monthly">Once Per Month</option>
				      <option value="biweekly">Every 2 Weeks</option>
				      <option value="twiceMonthly">Twice Per Month</option>
				      <option value="weekly">Weekly</option>
				    </select>
				    <label>How Often Are You Paid?</label>
				</div>

	     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		    </form>
		    <form class="col s12" ng-show="hhInc > 6">
		      <div class="row">
		      	<h4>{{person.firstName}}</h4>
		        <div class="input-field col s6">
		          <input id="employer" ng-model="person.employer" type="text" class="validate">
		          <label for="employer">Employer</label>
		        </div>
		      </div>

    <!-- select options for pay frequency -->
	    	<div class="input-field col s12">
			    <select ng-model="person.payFrequency">
			      <option value="monthly">Once Per Month</option>
			      <option value="biweekly">Every 2 Weeks</option>
			      <option value="twiceMonthly">Twice Per Month</option>
			      <option value="weekly">Weekly</option>
			    </select>
			    <label>How Often Are You Paid?</label>
			  </div>

	     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
	    </form>
	    <form class="col s12" ng-show="hhInc > 7">
	      <div class="row">
	      	<h4>{{person.firstName}}</h4>
	        <div class="input-field col s6">
	          <input id="employer" ng-model="person.employer" type="text" class="validate">
	          <label for="employer">Employer</label>
	        </div>
	      </div>

    <!-- select options for pay frequency -->
	    	<div class="input-field col s12">
			    <select ng-model="person.payFrequency">
			      <option value="monthly">Once Per Month</option>
			      <option value="biweekly">Every 2 Weeks</option>
			      <option value="twiceMonthly">Twice Per Month</option>
			      <option value="weekly">Weekly</option>
			    </select>
			    <label>How Often Are You Paid?</label>
			  </div>

	     <!-- pay stub entry -->
		      <div class="row">
		      	<div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly' || person.payFrequency === 'monthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #1" ng-model="person.payArray[0]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #2" ng-model="person.payArray[1]" type="number" class="validate paystubs">
			        </div>
		        </div>
		        <div ng-show="person.payFrequency === 'weekly' || person.payFrequency === 'biweekly' || person.payFrequency === 'twiceMonthly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #3" ng-model="person.payArray[2]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #4" ng-model="person.payArray[3]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		      <div class="row">
		       	<div ng-show="person.payFrequency === 'weekly'">
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #5" ng-model="person.payArray[4]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #6" ng-model="person.payArray[5]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #7" ng-model="person.payArray[6]" type="number" class="validate paystubs">
			        </div>
			        <div class="input-field col s3">
			          <input placeholder="Pay Amount #8" ng-model="person.payArray[7]" type="number" class="validate paystubs">
			        </div>
		        </div>
		      </div>
		    </form>
	    <div class="center">
	    <a class="waves-effect waves-light btn" ng-click="getIncome()">Proceed</a>
	    </div>
	 </div>
</div>
