  <div class="row">
	<h3>Person 1</h3>
	<!-- employer field -->
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="employer" ng-model="employer" type="text" class="validate">
          <label for="employer">Employer</label>
        </div>
      </div>

    <!-- select options for pay frequency -->
    	<div class="input-field col s12">
		    <select ng-model="payFrequency">
		      <option ng-value="2">Once Per Month</option>
		      <option ng-value="4">Every 2 Weeks</option>
		      <option ng-value="4">Twice Per Month</option>
		      <option ng-value="8">Weekly</option>
		    </select>
		    <label>How Often Are You Paid?</label>
		  </div>

	    <!-- pay stub entry -->
	      <div class="row">
	      	<div ng-show="payFrequency === 8 || payFrequency === 4 || payFrequency === 2">
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #1" ng-model="payArray[0]" type="number" class="validate paystubs">
		        </div>
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #2" ng-model="payArray[1]" type="number" class="validate paystubs">
		        </div>
	        </div>
	        <div ng-show="payFrequency === 8 || payFrequency === 4">
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #3" ng-model="payArray[2]" type="number" class="validate paystubs">
		        </div>
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #4" ng-model="payArray[3]" type="number" class="validate paystubs">
		        </div>
	        </div>
	      </div>
	      <div class="row">
	       	<div ng-show="payFrequency === 8" ng-hide="payFrequency !== 8">
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #5" ng-model="payArray[4]" type="number" class="validate paystubs">
		        </div>
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #6" ng-model="payArray[5]" type="number" class="validate paystubs">
		        </div>
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #7" ng-model="payArray[6]" type="number" class="validate paystubs">
		        </div>
		        <div class="input-field col s3">
		          <input placeholder="Pay Amount #8" ng-model="payArray[7]" type="number" class="validate paystubs">
		        </div>
	        </div>
	      </div>
	    </form>
	    <div class="center">
	    <a class="waves-effect waves-light btn" ng-click="getIncome()">Proceed</a>
	    </div>
	 </div>
</div>
