<h1>Resource</h1>

 <!-- select options for resource type -->
 <form class="col s12">
 	<div class="resources row">
	      <div class="singlePersonResource" ng-repeat="person in personArray">
	      <h5 class="col s7">{{person.firstName}} : How Much Money Do You Have in All Accounts Combined?</h5>
    	</div>
		 <div class="input-field col s4">
          <input id="balance" ng-model="balance" type="number" class="validate">
          <label for="balance">Amount</label>
        </div>
      </div>
 </form>
 <div class="center">
<a class="waves-effect waves-light btn" ng-click="saveResources(balance)">Continue</a>
</div>

<!-- <div class="input-field col s4">
		    <select id="resType" ng-model="resType">
		      <option value="checking">Checking</option>
		      <option value="savings">Savings</option>
		      <option value="stocks">Stocks</option>
		    </select>
		    <label for="resType">Type of Resource</label>
		</div> -->

		  <!-- <a class="btn-floating btn-medium waves-effect waves-light green" ng-click="addResource()"><i class="material-icons">add</i></a> -->
