<h2>Resources</h2>
<h4>How Much Money Do You Have in Your Accounts?</h4>
 <!-- select options for resource type -->
 <form class="col s12" ng-repeat="person in personArray">
 	<div class="resources row">
	      <div class="singlePersonResource">
	      <h5 class="col s4">{{person.firstName}} : </h5>
    	   </div>
		    <div class="input-field col s4">
          <input id="balance1" ng-model="person.balance" type="number" class="validate">
          <label for="balance1">Amount</label>
        </div>
  </div>
 </form>
 <div class="center">
<a class="waves-effect waves-light btn" ng-click="saveResources()">Continue</a>
</div>
