<h1 class="center">Shelter Costs</h1>
<h5 class="center shelter-info">Please include any homeowner tax or insurance in the mortgage amount.</h5>

<!-- select options for shelter cost type -->
<div class="row">
	<form class="col s12">
	<div class="input-field col s6 offset-s3">
	    <select ng-model="shelterType">
		      <option value="rent">Rent</option>
		      <option value="mortgage">Mortgage</option>
	    </select>
	    <label>Which Kind of Shelter Costs Do You Pay?</label>
	</div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="shelterCost" ng-model="shelterCost" type="number" class="validate">
          <label for="shelterCost">Amount Paid</label>
        </div>
      </div>
      <div class="input-field col s6 offset-s3">
	    <select ng-model="shelterFrequency">
		      <option value="weekly">Weekly</option>
		      <option value="monthly">Monthly</option>
		      <option value="biweekly">Every 2 Weeks</option>
	    </select>
	    <label>How Often?</label>
	  </div>
		  <div id="sua" class="row" ng-model="paysSUA">
		  	<div class="input-field col s8 offset-s3">
			   <p class="push-s6">
			      <input type="checkbox" ng-model="paysSUA" id="paysSUA" />
		  		<label for="paysSUA">Do You Pay A Major Heating or Cooling Bill?</label>
			    </p>
		  	</div>
	  	</div>
    </form>
    <div class="center col s6 offset-s3">
	    <a class="waves-effect waves-light red btn" ng-click="restart()">Restart</a>
	    <a class="waves-effect waves-light btn center" ng-click="getShelter()">Calculate</a>
    </div>
</div>
